.conteudo {
    height: 755px;
    background-color: #edf4fd;
    border: 1px solid;
    width: 100%;
    position: fixed;
}

.centerConteudo {
    margin: 0 auto;
    padding: 0 2%;
    width: 100%;
}

.box-botoes1 {
    width: 100%;
    display: flex;
    align-items: center;
}

.botoes1 {
    margin: 0px auto;
    border: 0px solid;
    padding: 3px 8px;
}

.botoes1 ul {
    display: flex;
}

.botoes1 li {
    list-style: none;
    margin: 0 150px;
    align-items: center; /*Pra ficar tudo centralizado*/
    justify-content: space-between; /*Pra jogar os itens pra lados opostos da tela*/
}

.botoes1 li a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(2, 2, 2);
    font-size: 20px;
    opacity: 1;
}

.menu li a:hover {
    opacity: 0.7;
}


.tituloPag1 {
    margin-top: 25px;
    margin-left: 70px;
}

.tituloPag1 h1 {
    margin-left: 190px;
    color: rgb(0, 0, 0);
    width: 450px;
    flex-wrap: wrap;
    /*forço o conteúdo cair pra baixo(se n tiver espaço)*/
}

.meiota {
    height: 450px;
    margin-left: 290px;
    margin-right: 150px;
    ;
}

.textoPag1 {
    width: 450px;
    margin-top: 25px;
    flex-wrap: wrap;
    /*forço o conteúdo cair pra baixo(se n tiver espaço)*/
}

.textoPag1 h3 {
    font-size: 20px;
}

.participeTambem {       
    margin-top: 30px;
    margin-left: 85px;    
}

.participeTambem h3 {
    padding: 1px 1px;    
    width: 180px;
    height: 40px;
    color: black;
    background-color: #87aab9;             
}

.peopleImage {
    margin-left: 800px;
    margin-top: -380px;
    height: 450px;
    width: 450px;
}

.peopleImage img {
    width: 500px;
    height: 450px;
}

/*----------------FIM DA PRIMEIRA PARTE DO CONTEUDO ---------------*/