.conteudo{
    height: 755px;
    background-color: #edf4fd;
    border: 1px solid;
    width: 100%;
    position: fixed;
}

.centerConteudo {    
    margin: 0 auto;
    padding: 0 2%;
    width: 100%;
}

.box-botoes{
    width: 100%;
    display: flex;
    align-items: center;    
}

.botoes{
    margin: 0px auto;
    border: 0px solid;   
    padding: 3px 8px; 
}

.botoes ul{
    display: flex;
}

.botoes li{
    list-style: none;
    margin: 0 150px;
    align-items: center; /*Pra ficar tudo centralizado*/
    justify-content: space-between; /*Pra jogar os itens pra lados opostos da tela*/
}

.botoes li a{
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(2, 2, 2);
    font-size: 20px;
    opacity: 1;
}

.menu li a:hover{
    opacity: 0.7;
}

.tituloPag4{
    margin-top: 25px;
    margin-left: 70px;   
}

.tituloPag4 h1{
    margin-left: 190px;
    color: rgb(0, 0, 0);    
    width: 450px;
    flex-wrap: wrap; /*forço o conteúdo cair pra baixo(se n tiver espaço)*/
}

.tituloPag4 h4{
    margin-left: 100px;
    color: #1127e7;
}

.form {
    /*Coloquei só pra ver oq a área tá ocupando*/
   display: flex;
   width: 600px; /*Faço isso pra centralizar o form no meio da tela*/
   height: auto;
   margin-top: 20px;
   margin-left: -50px;
   flex-wrap: wrap; /*forço o conteúdo cair pra baixo(se n tiver espaço)*/
}

/*Estilizando o bloco que as entradas do forms estão inseridas*/
.items-form {
    
    width: 500px; /*Tamanho máximo q a entrada pode ter*/
    display: flex;
    width: 100%;
    flex-wrap: wrap; /*forço o conteúdo cair pra baixo(se n tiver espaço)*/
 }

 .items-form h4{
    display: flex;
    margin-top: 10px;
 }

 /*Estiliza as entradas do form (Q SE DIGITA) */
.items-form input[type=text] {
    margin-top: 20px;
    width: 48%;
    height: 30px;
    margin: 8px 6px;
    padding-left: 10px;
 }

 /*Estiliza a entrada (ENVIAR) */
.form input[type=submit] {
    width: 100%;
    height: 40px;
    background-color: #080808;
    cursor: pointer;
    color: white;
    border: 0;
    font-size: 19px;
 }


 .semContaVol h3 {
    margin-top: 30px;
    margin-left: 250px;
    width: 300px;
    color: #1127e7;   
}

 .semContaOrg h3{
    margin-top: 30px;
    margin-left: 250px;
    width: 300px;
    color: #1127e7;   
 }

 .imagem4{     
     margin-left: 1000px;
     margin-top: -380px;
     width: auto;
     height: auto;     
 }

 .imagem4 img{
     width: 550px;
     height: 550px;
 }
/*----------------FIM DA PRIMEIRA PARTE DO CONTEUDO ---------------*/