.conteudo{
    height: 755px;
    background-color: #edf4fd;
    border: 1px solid;
    width: 100%;
    position: fixed;
}

.centerConteudo {    
    margin: 0 auto;
    padding: 0 2%;
    width: 100%;
}

.box-botoes3{
    width: 100%;
    display: flex;
    align-items: center;    
}

.botoes3{
    margin: 0px auto;
    border: 0px solid;   
    padding: 3px 8px; 
}

.botoes3 ul{
    display: flex;
}

.botoes3 li{
    list-style: none;
    margin: 0 150px;
    align-items: center; /*Pra ficar tudo centralizado*/
    justify-content: space-between; /*Pra jogar os itens pra lados opostos da tela*/
}

.botoes3 li a{
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(2, 2, 2);
    font-size: 20px;
    opacity: 1;
}

.menu li a:hover{
    opacity: 0.7;
}

.tituloPag3{
    margin-top: 25px;
    margin-left: 70px;   
}

.tituloPag3 h1{
    margin-left: 190px;
    color: rgb(0, 0, 0);    
    width: 450px;
    flex-wrap: wrap; /*forço o conteúdo cair pra baixo(se n tiver espaço)*/
}

.meiota{
    height: 450px;
    margin-left: 290px;
    margin-right: 150px;;
}

.textoPag3{
    width: 480px;
    margin-top: 25px;
    flex-wrap: wrap; /*forço o conteúdo cair pra baixo(se n tiver espaço)*/
}

.textoPag2 h3{
    font-size: 20px;
}

.cadastreEmpresa{
    background-color: #1127e7;  
    width: 200px;  
    height: 40px;
    margin-top: 30px; 
    margin-left: 80px;    
}

.cadastreEmpresa h3 {      
    color: rgb(255, 255, 255);           
}

.blueImage{
    margin-left: 600px;
    margin-top: -440px;    
    height: 350px;
    width: 400px;
}

.blueImage img{
    width: 600px;
    height: 550px;
}
/*----------------FIM DA PRIMEIRA PARTE DO CONTEUDO ---------------*/