.conteudo{
    height: 755px;
    background-color: #edf4fd;
    border: 1px solid;
    width: 100%;
    position: fixed;
}

.centerConteudo {    
    margin: 0 auto;
    padding: 0 2%;
    width: 100%;
}

.box-botoes{    
    width: 100%;
    display: flex;
    align-items: center;    
}

.botoes{
    margin: 0px auto;
    border: 0px solid;   
    padding: 3px 8px; 
}

.botoes ul{
    display: flex;
}

.botoes li{
    list-style: none;
    margin: 15px 220px;
    align-items: center; /*Pra ficar tudo centralizado*/
    justify-content: space-between; /*Pra jogar os itens pra lados opostos da tela*/
}

.botoes li a{
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(2, 2, 2);
    font-size: 20px;
    opacity: 1;
}

.menu li a:hover{
    opacity: 0.7;
}

.portalVoluntarioo{    
    margin-top: 5px;
    margin-left: 50px;
}

.portalVoluntarioo h1{
    margin-left: 190px;
    color: blue;    
}

.vagasDisponiveis {    
    width: 330px;
    margin-top: 25px;
    margin-left: 250px;
}

.vagasDisponiveis h2{
    font-size: 32px;    
    color: black;
}

.boxAcoessss{
    margin-top: 50px;
    width: 1300px;
    height: 490px;
    margin-left: 250px;
    border: 4px;
}

/*----------------FIM DA PRIMEIRA PARTE DO CONTEUDO ---------------*/